.post-page-h1 {
     text-align: center;
     font-size: 4em;   
     font-weight: bold;
     margin: 100px 50px;  
     color:#ffffff;
}

.each-post-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2em;
}

.each-post {
    background-color: rgb(255, 255, 255);
    min-width: 1300px !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin: .1rem 13rem;
    font-size: 1em;
    padding: 10px 100px;
    border-radius: 2em;
    box-shadow: 2px 5px 5px rgb(4, 4, 4);

}

.each-post h2:hover {
    color: #ff8484;
    transition: .45s;
}

.each-post-container a {
    color: #380f4ae3;
    font-size: larger;
}

.each-post-container p {
    color: rgba(33, 33, 33, 0.292);
}

.title-span,
.post-date {
    font-size: 1.3rem;
}

.post-title-date-container {
    display: flex;
    justify-content: space-between;
}

.post-date {
    color: #ff9d9d !important;
}


/* --------------------------  Media queries  -------------------------------------- */

@media screen and (min-width: 350px) and (max-width: 768px) {
    body {
        height: 100%;
    }

    .each-post {
        margin: .5rem 1rem;
        padding: 3rem;
        min-width: 90% !important;
        width: 90%;
    }

    .each-post-container {
        padding-bottom: 5rem;
  
    }

    .post-page-container {
        width: 100vw;
    }

  }


  @media screen and (min-width: 769px) and (max-width: 1500px) {
    .each-post {
        margin: 1rem;
        padding: 3rem;
        min-width: 90% !important;
        width: 90%;

    }
  }